
/* Isabel's Code */
.gallery{	
    border: 10px solid black;	
    width: 90%;	
    margin: 10px auto;	
    background-color: white;	
    display: grid;	
    grid-template-columns: 75%;	
    justify-content: space-around;	
    align-items: center;	
}	

.skip{
    position: absolute;
    top: -100px;
}

.skip:focus{
    top: 0px
}
header img{	
    width: 50%;	
    display: block;	
    margin: auto;	
}	
.gallery img{	
    width:100%;	
    border: 5px solid black;	
}	
.lb-data.lb-caption{	
    font-size: 33px;	
}	
button {	
    display: inline-block;	
    border-radius: 4px;	
    background-color: black;	
    border: none;	
    color: #FFFFFF;	
    text-align: center;	
    font-size: 28px;	
    padding: 10px;	
    width: 200px;	
    transition: all 0.5s;	
    cursor: pointer;	
    margin: 5px;
    justify-content: center;	
}	
  	
button span {	
    cursor: pointer;	
    display: inline-block;	
    position: relative;	
    transition: 0.5s;	
}	
  	
button span:after {	
    content: '\00bb';	
    position: absolute;	
    opacity: 0;	
    top: 0;	
    right: -20px;	
    transition: 0.5s;	
}	
  	
button:hover span {	
    padding-right: 25px;	
}	
  	
button:hover span:after {	
    opacity: 1;	
    right: 0;	
}





/* Tamariah's Code */

.current{
    text-transform: uppercase;
}

nav ul li{
    border: 2px solid;
    padding: 10px;
    height: 20px;
}


.container .flex-gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 10px;
}



figure img{
    width: 95%;
    border: 5px solid black;
    margin: 5px;
}

figure{
    position: relative;
    cursor: pointer;
}


@media all and (min-width: 700px){

    /* Isabel's Code */
    .gallery{	
        grid-template-columns: 45% 45%;	
    }

    /* Tamariah's Code */
    .flex-gallery{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-color: black;
    }

    .flex-gallery .column{
        flex-direction: column;
        gap: 10px;
        flex-basis: 20px;
        flex-wrap: wrap;
    }

    figure{
        width: 200px;
        position: relative;
        cursor: pointer;
    }


    figure img{ 
        width: 95%;
        border: 2px solid white;
    }
}

@media all and (min-width: 1000px){

    /* Isabel's Code */
    .gallery{	
        grid-template-columns: 25% 25% 25%;	
    }

    /* Tamariah's Code */
  
    .flex-gallery{
    flex-direction:row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;
    }  

    .flex-gallery .column{
        flex-direction: column;
        gap: 10px;
        flex-basis: 20px;
    }

    figure{
        width: 200px;
        position: relative;
        cursor: pointer;
    }

    figure img{ 
        width: 95%;
        border: 2px solid rgb(0, 0, 0);
    }



    

    



}