
/* Isabel's Code */
h1{
    font-weight: bold;
    font-size: 32px;
}

.gallery{	
    border: 10px solid black;	
    width: 90%;	
    margin: 10px auto;	
    background-color: white;	
    display: grid;	
    grid-template-columns: 75%;	
    justify-content: space-around;	
    align-items: center;	
}	
.flex{
    display: flex;
    flex-flow: column;
}
.skip{
    position: absolute;
    top: -100px;
}

nav li{
    background: lightgrey;
    text-align:center;

}
nav li a{
    text-decoration:none;
    color:black;
    text-align:center;
    font-size:150%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.skip:focus{
    top: 0px
}
header img{	
    width: 50%;	
    display: block;	
    margin: auto;	
}	
.gallery img{	
    width:100%;	
    border: 5px solid black;	
}	
.lb-data.lb-caption{	
    font-size: 33px;	
}	
button {	
    display: inline-block;	
    border-radius: 4px;	
    background-color: black;	
    border: none;	
    color: #FFFFFF;	
    text-align: center;	
    font-size: 28px;	
    padding: 10px;	
    width: 200px;	
    transition: all 0.5s;	
    cursor: pointer;	
    margin: 5px;	
}	
  	
button span {	
    cursor: pointer;	
    display: inline-block;	
    position: relative;	
    transition: 0.5s;	
}	
  	
button span:after {	
    content: '\00bb';	
    position: absolute;	
    opacity: 0;	
    top: 0;	
    right: -20px;	
    transition: 0.5s;	
}	
  	
button:hover span {	
    padding-right: 25px;	
}	
  	
button:hover span:after {	
    opacity: 1;	
    right: 0;	
}





/* Tamariah's Code */

.current{
   text-transform: uppercase;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    border: 5px dashed blue;

}

nav ul li{
    border: 2px;
    padding: 10px;
    height: 20px;
}


.container .flex-gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 10px;
}



figure img{
    width: 95%;
    border: 5px solid black;
    margin: 5px;
}

figure{
    position: relative;
    cursor: pointer;
}

/* Styling our Image */

.Tamariah_photo img
{
    transform: rotate(-90deg);
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.style1{
    filter: blur(4px);
    border: 4px solid blue;
    border-radius: 10px;

}

.style2{
    filter: grayscale(100%);
    width: 75%;
    border: 5px double grey;
    border-radius: 20px
}

.style3{
    filter: brightness(250%)
}
/* Home page galley style */
div h2{
    margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 48px;
  text-align: center;

}
div p{
    margin: auto;
  width: 50%;
  padding: 10px;
  line-height: 25px;

}
div img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.home_col img:hover{
    animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

p.indent{
    text-indent: 30px;
}
/* Media Queries */

@media all and (min-width: 700px){
.flex{
    flex-flow:row wrap;
    justify-content: center;
}
    /* Isabel's Code */
    .gallery{	
        grid-template-columns: 45% 45%;	
    }

    /* Tamariah's Code */
    .flex-gallery{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-color: black;
    }

    .flex-gallery .column{
        flex-direction: column;
        gap: 10px;
        flex-basis: 20px;
        flex-wrap: wrap;
    }

    figure{
        width: 200px;
        position: relative;
        cursor: pointer;
    }


    figure img{ 
        width: 95%;
        border: 2px solid white;
    }
}

@media all and (min-width: 1000px){
    .flex{
        flex-flow:row wrap;
        justify-content: space-around;
    }
    /* Isabel's Code */

    .gallery{	
        grid-template-columns: 25% 25% 25%;	
    }

    /* Tamariah's Code */
  
    .flex-gallery{
    flex-direction:row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;
    }  

    .flex-gallery .column{
        flex-direction: column;
        gap: 10px;
        flex-basis: 20px;
    }

    figure{
        width: 200px;
        position: relative;
        cursor: pointer;
    }

    figure img{ 
        width: 95%;
        border: 2px solid rgb(0, 0, 0);
    }
}

/* Prefers reduce motion */
@media (prefers-reduced-motion: reduce) {
    button span{
      animation: none;
      transition: 1.5s;	

    }
    .home_col img:hover{
        animation: none;
    }
  }